*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;    
    background-image: linear-gradient(rgba(7, 7, 7, 0.711), rgb(7, 7, 7, 0.451)), url(img/reflexao.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.container{
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 35px;
    backdrop-filter: blur(0px); /*efeito de vidro*/
    overflow: hidden;
    transition: backdrop-filter 0.5s;
}

.text{
    color: white;
    position: relative;
    top: 200px;
    transition: top 1s;
}

.container:hover .text{
    top: 0;
}

.container:hover{
    backdrop-filter: blur(10px);
}